body{
    background-color: beige;
}

header img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 20px solid #8AB9D3;
}

.display-4{
    color: beige;
    font-family: 'Righteous', cursive;
}


h2{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #8AB9D3;
}
.bg-primary {
    background-color: #FAA4FF !important;
}
 .card-img-top{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: auto;
 }

 main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px;
}

main img {
    max-width: 100%;
}
 
footer{
    background-color: #FAA4FF;
    text-align: center;
    padding: 30px;
}

.navbar-brand{
    font-family: 'Righteous', cursive;
}

.card-title{
    font-family: 'Righteous', cursive;
}

.textolista{
    color: #FCF7F4;
}